body {
  margin: 0 auto;
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
}

/***************************************

                Nav bar

***************************************/

nav.menu {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.17);
}

nav.menu ul {
  padding: 0;
}

nav.menu ul li {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none;
}

nav.menu ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
  background-color: white;
  color: #aaaaaa;
  will-change: auto;
}

nav.menu ul li a:hover {
  background-color: white;
  color: #232323;
}

nav.menu ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  font-size: 12px;
  width: auto;
}

/***************************************

                Header

***************************************/


/*
  Caractéristiques de la div container, qui englobe toute la page
*/
.container {
  display: flex;
  width: 100%;
  height: 885px;
  flex-direction: column;
  background-color: #FFFFFF;
}

/*
  Caractéristiques du titre "Grotto"
*/
h1 {
  width: 100%;
  font-size: 5em;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: black;
  font-weight: lighter;
}


/*
  Caractéristiques du main
*/

main {
  display: flex;
}


/*
  Caractéristiques de l'image principale "Grotto"
*/

.main_image img{
  height: 30%;
  width: 41.39%;
  margin-left: 12%;
}

.main_image{
  display: contents;
}
/*
  Caractéristiques de la description du projet "Grotto"
*/


.text_project_description > p {
  display:inline-block;
  text-align:left;
  width:487px;
  padding-left: 40px;
  margin-top: 0;
  font-size: 164%;
}

.text_project_legende > p{
  width:231px;
  padding-left: 40px;
  margin-top: 30px;
  font-size: 133%;
}
.text_project_legende2 > p{

  padding-left: 40px;
  margin-top: -9px;
  font-size: 133%;
}
.text_project_legende3 > p{

  padding-left: 40px;
  margin-top: 9px;
  font-size: 133%;
}

/*
  Caractéristiques des petites images "Grotto"
*/

.other_image1{
  height: 10%;
  width: 13%;
  margin-left: 12%;
}
.other_image2{
  height: 10%;
  width: 13%;
  margin-left: 1%;
}

.other_image3{
  height: 10%;
  width: 13%;
  margin-left: 1%;
}

.others_images{
  margin-top: 32%;
}

/*
  Caractéristiques autres projets
*/

.others_projects{
  margin-top: 3%;
}

.others_projects h2{
    width: 100%;
    font-size: 3em;
    text-align: center;
    color: black;
    font-weight: bold;
  }

.left-arrow{
  width: 4%;
}

.right-arrow{
  width: 4%;
  padding-left: 10%;
}

.other_projects_louvre, .other_projects_ici_et_ailleurs, .other_projects_hotel_notre_dame{
  width: 16%;
  margin-left: 11%;
}




/***************************************

                Footer

***************************************/



.footerTab {
  margin-top: 33%;
  background: #232323;
  display: flex;
  justify-content: space-around;
  height: 250px; }
  .footerTab ul {
    list-style: none;
    color: white;
    font-weight: bold;}
    .footerTab ul li {
      font-weight: 400;
      padding: 8px 0 8px 0; }
