#homepic{
  width: 100%;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.firstWhiteDiv{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  h2{
    margin-top: 30px;
  }

  article{

  }
}

#drawing{
  width: 55%;
  background: grey;
  height: 400px;
}

.whiteDivTxt{
  width: 40%
}

//Project

.projectsDiv{
  display: flex;
}

#projectTitle{
  justify-content: center;

}

.ourProjects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .project{
    margin:10px;
    width: 30%;
    height: 350px;
    background: orange;
  }
}
