#homepic{
  width: 100%;
}

body{
  margin : 0;
}


nav.menu{
    background-color: $softBlack;
    position: fixed;
    width: 100vw;
    justify-content: center;
}

nav.menu ul{
  display:flex;
  flex-direction: row;
  padding:0;
}

nav.menu{
  display:flex;
  flex-direction: row;
}

nav.menu ul li{
  position:relative;
  list-style: none;
}

nav.menu ul li a{
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition:all 0.15s ease-in;
  color: white;
  will-change:auto;
}

nav.menu ul li ul{
  display: none;
  position:absolute;
  top: 100%;
  left: 25px;
  font-size: 12px;
  width: auto;

   li {
    padding : 6px;
  }
}

nav.menu ul li:hover ul{
  width: 120px;
  display:block;
  background-color: $softBlack;
}
