//Essentials

#homepic{
  width: 100%;
}

.container{
  width: 75%;
  margin: 0 auto;
}

.border{
  height: 7px;
  width: 150px;
  background: $matteBlack;
}

.flexContainer{
  display: flex;
  text-align: center;
}

//Header


nav.menu{
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100vw;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.17);
}

nav.menu ul{
  display:flex;
  flex-direction: row;
  padding:0;
}

nav.menu{
  display:flex;
  flex-direction: row;
  font-family: Ubuntu;
}

nav.menu ul li{
  position:relative;
  list-style: none;
}

nav.menu ul li a{
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition:all 0.15s ease-in;
  background-color: white;
  color: $grey;
  will-change:auto;
}

nav.menu ul li a:hover{
  background-color: white;
  color: $matteBlack;
}

nav.menu ul li ul{
  display: none;
  position:absolute;
  top: 100%;
  left: 0%;
  font-size: 12px;
  width: auto;
}

nav.menu ul li:hover ul{
  width: 200px;
  display:block;
}

//Body

.accueil{
  position: relative;
}

.buton{
  text-transform: uppercase;
  padding: 12px;
  font-weight: bold;
  text-decoration: none;
}

.more{
  position: absolute;
  border: solid $white 2px;
  color: white;
}

.linkProject{
  text-decoration: none;
  color: $black;
}

#projectButon{
  border: solid $matteBlack 2px;
  margin: 0 auto;
}

.about{
  position: absolute;
  top: 75%;
  left: 12.5%;
  color: $white;
  h2{
    font-size: 3em;
    margin : 0;
  }
}

.firstWhiteDiv{
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
  height: 600px;
  h2{
    margin: 30px 0 0  20px;
    text-transform: uppercase;
    font-weight: bold;
    color: $matteBlack;
  }
  p{
    margin-left: 20px;
    font-weight: 300;
    font-style: italic;
  }
  article{
    margin-left : 20px;
    font-weight: 300;
  }
  .border{
    margin: 20px 0 20px 20px;
    color: $matteBlack;
  }
}

#drawing{
  width: 68%;
}

.whiteDivTxt{
  width: 40%
}

//Project

.projectsDiv{
  margin: 50px 0 50px 0;

  h2{
    text-transform: uppercase;
    margin : 0 auto;
    font-size: 2.5em;
  }
}

#projectTitle{
  margin: 50px auto;
}

.ourProjects{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;

  .project{
    width: 30%;
    height: 30%;
  }
}

.homeContact{
  margin-top: 80px;
  position: relative;

  .homeContactPic{
    width: 100%;
    position: absolute;
    z-index: -2;
  }

  h2{
    text-transform: uppercase;
    font-size: 3em;
    color: $white;
    margin: 60px auto;
  }
}


// Form

.containerForm{
  margin: 0 auto;
  width: 40%;
}


.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContactForm input{
  border: solid 1px $matteBlack;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: none;
  height: 27px;
  font-weight: bold;

  padding-left: 20px;
  width: 220px;
  background-color: white;
}

 .homeContactForm textarea{
   border: solid 1px $matteBlack;
   border-radius: 3px;
   box-shadow: none;
   font-weight: bold;
   width: 236px;
   margin: 10px 0;
   font-weight: bold;
   background-color: white;
   resize: none;
 }

#submit{
  width: 60px;
  padding : 0;
}


//Footer

.footerTab{
  margin-top: 50px;
  background: $matteBlack;
  display: flex;
  justify-content: space-around;
  height: 250px;

  ul{
    list-style: none;
    color: white;
    li{
      font-weight: 400;
      padding: 8px 0 8px 0;
    }
  }
}
