@import "config";
@import "body";
@import "slider";

html{
  background-color: #f3f3f3;
}

body{
  margin : 0;
  scroll-behavior: smooth;
  font-family: $mainFont;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background: #f3f3f3;

}

::-webkit-scrollbar-thumb{
  background: rgb(84, 232, 168);
  transition: all 0.5s ease-in;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(93, 198, 152);
}
