.sliderContainer{
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction:row;
  background-size: cover;
}

.homepic{
  min-width: 100vw;
  min-height: 800px;
  transition: all ease-in-out 0.65s;
}
