.homepic {
  width: 100%; }

.container {
  width: 75%;
  margin: 0 auto; }

.border {
  height: 7px;
  width: 150px;
  background: #232323; }

.flexContainer {
  display: flex;
  text-align: center; }

#leftArrow {
  position: absolute;
  z-index: 20000;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 2%;
  transform: rotate(90deg); }

#rightArrow {
  position: absolute;
  position: absolute;
  z-index: 20000;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 95%;
  transform: rotate(270deg); }

nav.menu {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.17); }

nav.menu ul {
  padding: 0;
  font-size: 62.5%; }

nav.menu ul li {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style: none; }

nav.menu ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
  background-color: white;
  color: #aaaaaa;
  will-change: auto; }

nav.menu ul li a:hover {
  background-color: white;
  color: #232323; }

nav.menu ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  font-size: 12px;
  width: auto; }

.sliderContainer {
  position: relative; }

.buton {
  text-transform: uppercase;
  padding: 12px;
  font-weight: bold;
  text-decoration: none; }

.more {
  position: absolute;
  border: solid #FFFFFF 2px;
  color: white;
  transition: all ease-in 0.2s; }

.more:hover {
  color: #d7d7d7;
  border: solid #d7d7d7 2px; }

.linkProject {
  text-decoration: none;
  color: #000000; }

#projectButon {
  border: solid #232323 2px;
  margin: 0 auto;
  transition: all ease-in 0.2s; }

#projectButon:hover {
  color: #616161;
  border: solid #616161 2px; }

.about {
  position: absolute;
  top: 75%;
  left: 12.5%;
  color: #FFFFFF;
  display: none;
  transition: all ease-in 0.65s; }
  .about h2 {
    font-size: 3em;
    margin: 0; }

.about.active {
  display: block; }

.quote {
  display: block;
  margin: 0 auto;
  background: #232323;
  color: white;
  font-family: 'Ubuntu';
  text-align: center;
  font-weight: 700;
  padding: 30px; }
  .quote span {
    font-weight: 200;
    font-style: italic; }

.firstWhiteDiv {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
  height: 600px; }
  .firstWhiteDiv h2 {
    margin: 30px 0 0  20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #232323; }
  .firstWhiteDiv p {
    margin-left: 20px;
    font-weight: 300;
    font-style: italic; }
  .firstWhiteDiv article {
    margin-left: 20px;
    font-weight: 300; }
  .firstWhiteDiv .border {
    margin: 20px 0 20px 20px;
    color: #232323; }

#drawing {
  width: 68%; }

.whiteDivTxt {
  width: 40%; }

.projectsDiv {
  margin: 50px 0 50px 0; }
  .projectsDiv h2 {
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 2.5em; }

#projectTitle {
  margin: 50px auto; }

.ourProjects {
  display: flex;
  margin-top: 30px;
  justify-content: space-between; }
  .ourProjects .project {
    width: 30%;
    height: 30%; }

.homeContact {
  margin-top: 80px;
  position: relative; }
  .homeContact .homeContactPic {
    width: 100%;
    position: absolute;
    z-index: -2; }
  .homeContact h2 {
    text-transform: uppercase;
    font-size: 3em;
    color: #FFFFFF;
    margin: 60px auto; }

.containerForm {
  margin: 0 auto;
  width: 40%; }

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center; }

.homeContactForm input {
  border: solid 1px #232323;
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: none;
  height: 27px;
  font-weight: bold;
  padding-left: 20px;
  width: 220px;
  background-color: white; }

.homeContactForm textarea {
  border: solid 1px #232323;
  border-radius: 3px;
  box-shadow: none;
  font-weight: bold;
  width: 237px;
  margin: 10px 0;
  font-weight: bold;
  background-color: white;
  resize: none; }

#submit {
  width: 60px;
  padding: 0; }

.footerTab {
  margin-top: 50px;
  background: #232323;
  display: flex;
  justify-content: space-around;
  height: 250px; }
  .footerTab ul {
    list-style: none;
    color: white; }
    .footerTab ul li {
      font-weight: 400;
      padding: 8px 0 8px 0; }

.sliderContainer {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  background-size: cover; }

.homepic {
  min-width: 100vw;
  min-height: 800px;
  transition: all ease-in-out 0.65s; }

html {
  background-color: #f3f3f3; }

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Ubuntu"; }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: #f3f3f3; }

::-webkit-scrollbar-thumb {
  background: #54e8a8;
  transition: all 0.5s ease-in; }

::-webkit-scrollbar-thumb:hover {
  background: #5dc698; }

/*# sourceMappingURL=master.css.map */
